*{
    padding: 0;
    margin: 0;
}

body{

}

#gameArea{

    height: 500px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

.gem1{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 2px;
}

.gem2{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 2px;
}

.gem3{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 2px;
}

.gem4{
    width: 40px;
    height: 40px;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin: 2px;
}

img{
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid black;
    padding: 2px;
}

h1{
    text-align: center;
    background-color: red;
}
