*{
    padding: 0;
    margin: 0;
}

body{

}

#game_area{

    height: 420px;
    width: 420px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

.gem_1{
    width: 40px;
    height: 40px;
    float: left;
    background-color: red;
    border: 1px solid black;
}

.gem_2{
    width: 40px;
    height: 40px;
    float: left;
    background-color: green;
    border: 1px solid black;
}

.gem_3{
    width: 40px;
    height: 40px;
    float: left;
    background-color: blue;
    border: 1px solid black;
}

.gem_4{
    width: 40px;
    height: 40px;
    float: left;
    background-color: yellow;
    border: 1px solid black;
}